* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    text-transform: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

*:before,
*:after {
    box-sizing: inherit;
}

:root {

    --white-color: #fff;
    --primary-color: rgb(31, 31, 31);
    --secondary-color: rgb(131, 131, 131);
    --detail-color: rgb(154, 247, 158);

    --text-Messiri: "El Messiri";
    --text-Montserrat: "Montserrat";
    --text-poppins: "poppins";
    /* --text-detail-color: rgb(228, 51, 154); */
    /* --text-detail-color: rgb(228, 51, 51); */
    /* --text-detail-color: rgb(107, 10, 163); */


}

.container {
    position: relative;
    width: 100% !important;
    overflow-x:  hidden;

}

/* ----MENU----- */
.navigation {
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 100px;
    box-shadow: 0 0.1rem 1rem var(--text-detail-color);
    transition: all 0.5s;
    background-color:  rgba(31, 31, 31, 0.788);
    z-index: 100;
}

.navigation .logo {
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 600;
    cursor: default;
}

.navigation .logo .span-detail {
    font-size: 3rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    font-family: var(--text);
    color: var(--white-color);
    font-size: 1.7rem;
    font-weight: 400;
    transition: 0, 5s linear;
}

.navigation ul li a:hover {
    color: var(--secondary-color);
}

.span-detail {
    color: var(--secondary-color);
    font-weight: 600;
}
.span-detail:hover {
    color: var(--detail-color);
    font-weight: 600;
}

/* Bar-Android */
.menu {
    cursor: pointer;
    display: none;
}
/* ------------ */
.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    margin: 5px auto;
    transition: 0, 5s all;
}

.menu .bar:nth-child(2) {
    background-color: var(--text-primary-color);
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background-color: var(--text-detail-color);
}

/* ---Section--Home---- */

.section-home {
    width: 100vw;
    height: 100vh !important;
    display: flex;
    align-items: center;
    position: relative;
    /* background-image: url(img/background-home-2.webp); */
    /* background-position: right; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background: linear-gradient(90deg,
                                    rgba(14, 15, 15, 0.897) 0%,
                                    rgba(14, 16, 43, 0.568) 50%,
                                    rgba(34, 27, 24, 0.295) 100%),
                                    url(img/background-home-2.webp) right;
}

.content-home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* --Img-Home-Float-- */
.content-home-img{
    position: absolute;
    left: 60%;
}

.content-home-img img {
    max-width: 720px;
    max-height: 600px;

    /* transition: all 1s;
    animation: float 5s ease-in-out infinite; */
}

.content-home-text {
    position: absolute;
    line-height: 1;
    left: 7%;

    /* transform: translateY(0px);
    animation: float 5s ease-in-out infinite; */
}

.section-home .content-home h1 {
    cursor: default;
    color: var(--white-color);
    font-size: 10rem;
    top: -30%;
    transform: translateY(30%);
    z-index: 50;
    font-family: var(--text-Montserrat);
    text-shadow: 4px 6px rgba(0, 0, 0, 0.5);
    /* text-shadow: -2px 2px 0px rgb(221, 243, 221),
    -4px 4px 0 rgb(44, 44, 44),
    -6px 6px 0 rgb(31, 31, 31),
    -8px 8px 0 rgb(32, 32, 32),
    -9px 9px 0 rgb(17, 17, 17),
    -18px 18px 20px rgba(0, 0, 0, .3),
    -18px 19px 30px rgba(37, 37, 37, 0.4),
    -18px 18px 50px rgba(66, 66, 66, 0.5),
    -20px 20px 50px rgba(44, 44, 44, 0.6); */
}

.section-home .content-home h2 {
    cursor: default;

    color: var(--secondary-color);
    font-size: 5rem;
    top: 10%;
    line-height: 1.5;
    transform: translateY(50%);
    font-family: var(--text-Montserrat);
}

@media (max-width: 1400px) {
    .content-home-img img {
        transition: all 1s;
        opacity: 50%;
    }
}

/* --Section--About--- */

.section-about {
    cursor: default;
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-about {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 100px 0 100px 0;
}

.content-about .about-img img {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
}

.about-text {
    width: 600px;
    display: flex;
    flex-direction: column;

}

.content-about .about-text h2 {
    bottom: 25px;
    font-size: 7rem;
    text-align: center;
    color: var(--text-primary-color);
    line-height: 2;
    font-family: var(--text-Montserrat);

}

.content-about .about-text p {
    font-size: 1.5rem;
    text-align: justify;
    padding: 0 5rem;
    color: var(--text-primary-color);
    font-family: var(--text-poppins);

    /* color: var(--text-white-color); */
}

.content-about .about-text input {
    position: relative;
    top: 35px;
    font-size: 1.7rem;
    padding: 7px 45px;
    cursor: pointer;
    border: 2px solid var(--text-primary-color);
    background-color: transparent;
    transition: all 0.5s;
    color: var(--text-primary-color);
}

.content-about .about-text input:hover {
    font-weight: 600;
    transform: scale(1.1);
    transition: all 0.5s;
    border: none;
    background-color:  #7eced8;
    color: var(--text-white-color);
    /* color: var(--text-detail-color); */
}

.section-about .content-about-text {
    position: relative;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 0 75px 0;
}

.section-about .content-about-text .card-text{
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    border-radius: 5px;
    transition: all .3s;
}

.section-about .exp-about .content-about-text .card-text:hover{
    transform: scale(1.1);
    background-color: rgb(240, 240, 240);
    transition: all .3s;
}

.content-about-text .card-text h3{
    font-size: 1.7rem;
    text-transform: uppercase;
    cursor: default;
    font-family: var(--text-Montserrat);
}

.content-about-text .card-text img{
    width: 70px;
    height: 70px;
    margin: 7px;
}

.content-about-text .card-text p{
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: default;
    font-family: var(--text-poppins);
}

.about-h3 h3{
    font-size: 5rem;
    padding-bottom: 25px;
    font-family: var(--text-Montserrat);
}

.content-about-text .ajuste-layout-card{
    width: 320px;
    min-height: 80px;
    position: absolute;
}
@media (max-width: 1312px){

    .content-about-text .ajuste-layout-card{ 
        position: relative;
    }
}

@media (max-width: 1080px){

    .section-home .content-home h1 {
        font-size: 8rem;
    }
    .section-home .content-home h2 {
        font-size: 4rem;
    }
    .content-about {
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        padding: 100px 0 100px 0;
    }
}


@media (max-width: 980px) {
    .content-about{
        flex-direction: column;
    }
    .navigation {
        padding: 5px 50px;
    }
    .content-home-text{
        top: 400px;
    }
}


@media (max-width: 885px) {

    .section-about .content-about-text {
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 0 45px 0;
    }
    .section-about .content-about-text .card-text {
        width: 320px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 13px;
        border-radius: 5px;
        transition: all .3s;
    }
    .section-art-one .content-art-one-title .title-art-one-h2{
        font-size: 5.5rem !important;
    }
}

@media (max-width: 760px) {
    .navigation{
        visibility: hidden;
    }
}

@media (max-width: 680px) {
    .content-about-text .ajuste-layout-card{ 
        position: absolute;
    }

}

/* --Sections-Skills-- */

.section-skills {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-skills .content-art-one .title-art-one-h2{
    font-size: 7rem;
    padding: 50px 0 75px 0;
}

.section-skills .content-skill-text{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content-skills-card {
    cursor: default;
    width: 80vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 75px 0 65px 0;
    
}

.card {
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px 10px;
    margin: 12px;
    line-height: 1;
    /* padding-bottom: 50px ; */
    border-radius: 5px;
    transition: all .3s;
}

.card:hover {
    transform: scale(1.1);
    background-color: rgb(240, 240, 240);
    transition: all .3s;
}

.card h3 {
    font-size: 3rem;
    color: var(--text-primary-color);
    font-family: var(--text-Montserrat);

}

.content-skills-card .card img {
    width: 65px;
    height: 65px;
    text-align: center;
    transition: .5s ease-in-out;
    margin: 20px;

}

.content-skills-card .card img:hover {
    transition: .5s ease-in-out;
    transform: rotate(360deg);
}

.card p {
    max-width: 220px;
    text-align: left;
    font-size: 1.5rem;
    margin-top: 14px;
    color: var(--text-primary-color);
    font-family: var(--text-poppins);
}

@media (max-width: 885px) {
    .content-skills-card{
        width: 90vw;
    }

}


.section-art-one{
    width: 100vw !important;
    height: 30vh !important;
    background: linear-gradient(90deg,
    rgba(25, 133, 11, 0.507) 0%,
    rgba(32, 143, 32, 0.274) 50%,
    rgba(30, 2, 36, 0.897) 100%),
    url(img/notbook.jpg) no-repeat center center / cover;

    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
}
.section-art-one .content-art-one-title .title-art-one-h2{
    font-size: 7rem;
    cursor: default;
    color: var(--white-color);
    font-family: var(--text-Montserrat);
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}
 /* Section Projects */

.hr-detail{
    width: 100vw !important;

    height: 1vh;
    border: none;
    background: linear-gradient(90deg,
    rgba(100, 133, 240, 0.925) 0%,
    rgba(19, 212, 19, 0.904) 50%,
    rgba(209, 18, 200, 0.897) 100%);
}



 .section-projects{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    padding-bottom: 50px;
 }

 .content-projects{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .description-project h3{
    margin-top: 75px;
    font-size: 7rem;
    text-align: center;
    margin-bottom: 25px;
    color: #dbdbdb;
    cursor: default;

 }
 .description-project p{
    max-width: 50vw;
    font-size: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
    cursor: default;
 }
 .projects-principal,
 .projects-contents{
    width: 66vw;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
 }

 .projects-contents{
    padding-top: 50px;
 }

 .projects-contents .projects-my-p,
.projects-contents .projects-my{
    position: relative;
    transition: all .3s;
    text-align: center;
    padding: 14px;
 }

 .projects-contents .projects-my:hover{
    transition: all .3s;
    transform: scale(1.05);
 }

.project-name-link-p h3{

    font-size: 4rem;
    text-align: center;
    color: #dbdbdb;
    cursor: default;

}


.projects-principal .projects-my-p .project-name-link-p img{
    width: 60vw;
    border: none;
    margin-bottom: 60px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);

}
.projects-contents .projects-my .project-name-link img{
    width: 390px;
    height: 280px;
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 3px;
    margin-bottom: 55px;
}
.projects-contents .projects-my .project-name-link h3{
    cursor: default;
    font-size: 2.5rem;
    color: var(--secondary-color);
    border-top-left-radius: 7px;
    font-weight: 400;
    border-top-right-radius: 7px;
    line-height: 1;
    text-align: center;
}

.project-name-link p{
    cursor: default;
    min-height: 130px;
    padding: 7px 7px 0 7px;
    font-size: 1.5rem;
    color: var(--secondary-color);
    width: 320px;
    text-align: center;
}
.project-name-link{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.project-name-link 
.projects-contents .projects-my .project-name-link a{
    font-size: 2.5rem;
}

.project-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.project-titles h3{
    font-size: 2.5rem;
}
.project-titles p{
    max-width: 50vw;
    text-align: justify;
    padding: 14px;
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-bottom: 22px;
    cursor: default;
}

.projects-my-p .project-name-link-p .project-titles h4{
    font-size: 2.2rem;
    color: #dbdbdb;
    font-weight: 400;
    font-family: var(--text-Montserrat);
}

.icon-Git{
    font-size: 5rem;
    color: darkgray;
 }

.icon-Git:hover{
    color: rgb(234, 238, 17);
 }

.icons-contact-call{
    font-size: 2.5rem;
    align-content: center;
    color: #09b826;
}
.icons-contact-address{
    font-size: 2.5rem;
    align-content: center;
    color: #080808;
}.icons-contact-email{
    position: relative;
    top: 6px;
    font-size: 2.5rem;
    align-content: center;
    color: #1d3be6;
}


 /* Section Footer */

.footer-contact .section-contact{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 0 35px 0;
    /* background-color: rgb(26, 26, 26); */

}
.container-contact{
    width: 90vw;
    margin-bottom: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.container-contact p{
    text-align: center;
    width: 66vw;
    cursor: default;
    font-size: 1.8rem;
    font-family: var(--text-poppins);

}

.content-footer{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content-footer-one p {
    cursor: default;
    font-size: 1.5rem;
    line-height: 3;
    font-family: var(--text-poppins);

}

.contact-icon .ul-icons{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.ul-icons-box-one .li-icons{
    padding: 10px 0 10px 0;
}

.map-div iframe {
    width: 30vw;
    height: 20vh;
}


#face, #insta, #linke, #git, #whatsapp{
    color: rgb(15, 15, 15);
    font-size: 4.5vh;
}

#face:hover{
    color:   #3765ffef;
}
#insta:hover{
    color:#fb07d9;
}
#linke:hover{
    color:#0750a3;
}
#git:hover{
    color:#3765ffef;
}

#whatsapp:hover{
    color: #09b826;
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(30px);
    }

    75% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 600px) {
    .section-home .content-home h1{
        font-size: 4rem;
        position: relative;
        bottom: 100px;
    }
    .section-home .content-home h2{
        font-size: 3rem;
        position: relative;
        bottom: 100px;
    }
    .content-about .about-img img{

        display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    max-height: 2500px;
    border-radius: 50%;
    }

    .content-about .about-text h2 {
        font-size: 4rem;
    }
    .content-about{
        padding-bottom: 50px;
    }
    .about-text {
        width: 400px;
    }
    .content-about .about-text p{
        font-size: 1.3rem;
    }
    .about-h3 h3 {
        width: 300px;
        text-align: center;
        font-size: 4rem;
        padding-bottom: 25px;
        font-family: var(--text-Montserrat);
    }
    .section-art-one .content-art-one-title .title-art-one-h2{
        font-size: 3rem !important;
    }


    .project-titles p {
        max-width: 90vw;
        text-align: center;
    }
    .projects-principal .projects-my-p .project-name-link-p img {
        width: 80vw;
        margin-bottom: 40px;
    }
    .project-name-link {
        width: 90vw;
        text-align: center;
    }
    .project-name-link p {
        width: 90vw;
        padding: 0;
        text-align: center;
    }
    .form-whatsapp{
        margin-bottom: 50px;
    }
    .projects-contents .projects-my .project-name-link img {
        width: 320px;
        height: 240px;
        background-position: center;
        background-size: cover;
        border: none;
        border-radius: 3px;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
    }
    .container-contact p {
        font-size: 1.5rem;
        text-align: left;
    }
    .content-footer{
        display: flex;
        flex-direction: column;
    }
    .content-footer-one p {
        font-size: 1.5rem;
        line-height: 2;
        font-family: var(--text-poppins);
        width: 90vw;
    }
    .map-div iframe {
        margin-top: 25px;
        width: 90vw;
        height: 30vh;
    }

    .item-A{
        order: 2;
    }
    .item-B{
        order: 1;
        margin-bottom: 25px;
    }
    .item-C{
        order: 2;
    }
    .ul-icons-box-one{
        display: flex;
    }
    .contact-icon .ul-icons{
        gap: 0;
    }
    .ul-icons-box-one li{
        padding: 14px !important;

    }
}